#Configuration File for InfoXchange

# at the begining of any statement means it is not evaluated or included in the configuration for upload

# adding another configuration in the same .config file is allowed by the 
# configuration:start and configuration:end parameters which form a single pass through the data
# the second pair of configuration:start and configuration:end parameters will produce a second pass and so forth
# any value can change in each configuration including XchangeCore URLs

configuration:start

# format: field, csv_field_name  means in the parameters below the value following the 
# comma must be the exact name of the csv file column heading

# latitude longitude format is in decimal with negative west of the prime meridian and negative south of the equator
latitude, Latitude
longitude, Longitude

# the column name used to filter in the entry rows
# filter, Name

# string used to filter;  preceding the string with ! equates to NOT
# the example below !nothing will upload all rows (unless the Name is nothing)
# filter.text, Closed is a common way to upload only rows with closed facilities in a Status field, for example
filter.text, !anything
# filter.text, Unknown

# distance for the bounding box around all items that match the distance.filter.text; distance is kilometers (KM)
# distance, 64
# the string matched in the filter column when it is within the distance specified
# distance.filter.text, Open

# index is a sequence of column(s) names separated by a . (period) necessary to create a unique identifier for each row of data
# index, Name

#  title is the column that will be used as the name (ActivityCategoryName) of the entry into XchangeCore
# title, Name

# title.prefix is text that optionally may appear as a prefix to the title; note that a hypen is automatically inserted after the prefix
title.prefix, Costco

# the column will be used as category (ActivityCategoryText) in XchangeCore
# category, Name

# category.prefix value will be placed in front of the category if specified
# note no character is automatically inserted so if you want a hyphen you must insert it as part of category.prefix text
category.prefix, UR-

# category.fixed will fill in the category with the text specified, ignoring any category or category.prefix parameter (above) 
category.fixed, InfoXchange

# auto.close, true means that a row that does not appear in a subsequently upload
# will be automatically removed from XchangeCore (close and archive)
# auto.close, false means that the row in a subsequent upload will be removed only
# if it does not meet the filter.text criteria (if filter.text, closed and subsequent upload
# has the filter field value of open, then the row will be removed from XchangeCore
auto.close, true

# the column(s) name(s) that will be used as the description
# to concatenate multiple column labels and values, place a . (period) between column names 
# each column name followed by : (colon) and the value in the row will appear on a separate line 
# created by HTML formatting in the XchangeCore ActivityDescription field
# description, Name.Latitude.Longitude

# full.description, true eliminates need to define description (above) and uses every column heading as 
# the field name and every column value in every row as the field value presented in order of the columns
# the purpose of this is to allow unknown data to be added easily with the only format requirements being
# the csv MUST include column headings for Name, Latitude, and Longitude (exactly as written here)
full.description, true

# url.host points to XchangeCore using the url.username and url.password to authenticate for upload
url.host, http://localhost/xchangecore
url.username, username	
url.password, password

# url.redirectUrl is a valid website url to redirect the CSV adapter to after finish upload
url.redirectUrl, http://www.saberspace.org/status-map.html

configuration:end
