maven-eclipse.xml
.externalToolBuilders/
.classpath
.project
.settings/
target/
Logs/
.idea/
Adapter.iml
src/test/resources/config/
data/xchangecore_adapter.script
data/xchangecore_adapter.properties
