# configuration file for Boyd Gaming
# format: field, csv_field_name

latitude, Latitude
longitude, Longitude
filter, Status
#filter.text, open
filter.text, !Open

# distance for the bounding box (Km)
distance, 16 
# the matched text matched and within the distance specified
distance.filter.text, Open

index, Property
title, Property
title.prefix, Boyd Gaming

# the column will be used as category
category, Status
# the value of 'category.prefix' will be placed in front of category if specified
# as is including the dash.
category.prefix, Boyd-
# category.fixed will override the category with the value specified
# commented out the following line to disable the fixed value
#category.fixed, Boyd-Gaming-Impact

description, Property.Postal Address.Total Hotel Rooms.Rooms Available for Public.Rooms Available for Responders.Power Source.ATM.Check Cashing.Gaming.Full Meals.Snacks.Status.Notes.Website

url.host, http:/localhost/xchangecore
url.username, username
url.password, password
url.redirectUrl, http://www.saberspace.org/status-map.html
