#Configuration File for Costco

configuration:start

# format: field, csv_field_name
latitude, LCLAT
longitude, LCLONG
filter, Status
# filter.text, Closed
filter.text, Open
# filter.text, Unknown

# distance for the bounding box
distance, 64
# the matched text matched and within the distance specified
distance.filter.text, Open

index, WHS5.LCLAT
title, NAME
title.prefix, Costco

# the column will be used as category
category, WHS5.Status
# the value of 'category.prefix' will be placed in front of category if specified
category.prefix, Costco
# category.fixed will override the category with the value specified
# commented out the following line to disable the fixed value
category.fixed, Costco-Opened

auto.close, true

description, WHS5.NAME.Status.LCLAT.LCLONG.REGN.ADDRESS1.ADDRESS2.STA.CTRY.ZIP

url.host, https://xcore.spotonresponse.com/xchangecore
url.username, username
url.password, password
url.redirectUrl, http://www.saberspace.org/status-map.html

configuration:end

configuration:start

# format: field, csv_field_name
latitude, LCLAT
longitude, LCLONG
filter, Status
filter.text, Closed
#filter.text, Open
# filter.text, Unknown

# distance for the bounding box
distance, 64
# the matched text matched and within the distance specified
distance.filter.text, Open

index, WHS5.LCLAT
title, NAME
title.prefix, Costco

# the column will be used as category
category, WHS5.Status
# the value of 'category.prefix' will be placed in front of category if specified
category.prefix, Costco
# category.fixed will override the category with the value specified
# commented out the following line to disable the fixed value
category.fixed, Costco-Closed

auto.close, true

description, WHS5.NAME.Status.LCLAT.LCLONG
url.host, https://caloes.keystone.spotonresponse.com/uicds
url.username, username
url.password, password
url.redirectUrl, http://www.saberspace.org/status-map.html

configuration:end

