# configuration file for Macy's
# format: field, csv_field_name

latitude, Latitude
longitude, Longitude
filter, Full Day Status
#filter.text, Open
filter.text, Closed
# filter.text, Unknown

# distance for the bounding box
distance, 64
# the matched text matched and within the distance specified
distance.filter.text, Open

index, Location.Location.Latitude.Longitude
title, Location
title.prefix, Macy's

# the column will be used as category
category, Business Unit
# the value of 'category.prefix' will be placed in front of category if specified
category.prefix, Macys
# category.fixed will override the category with the value specified
# commented out the following line to disable the fixed value
category.fixed, Macys-Closed

description, Business Unit.Location.Full Day Status.Delayed Opening.Early Closing.Comments.Address.City.State.Zip.Latitude.Longitude
# url.host, https://host2.xchangecore.leidos.com/uicds/core/ws/services
url.host, http://localhost/xchangecore
url.username, username
url.password, password
url.redirectUrl, http://www.saberspace.org/status-map.html
