# configuration file for Sears

# format: field, csv_field_name
#TO DO delete the spaces  delete the data   fix spelling in Lat



latitude, Latitude

longitude, Longitude


filter, Current Status

filter.text, !Open
#filter.text, Open



# distance for the bounding box

distance, 16 

# the matched text matched and within the distance specified

distance.filter.text, Open



index, SHC Unit Number.Latitude


title, Store Type

title.prefix, Sears Holdings-
# the column will be used as category

category, Current Status

# the value of 'category.prefix' will be placed in front of category if specified

category.prefix, Sears-

# category.fixed will override the category with the value specified

# commented out the following line to disable the fixed value

# category.fixed, Sears-Open




description, Store Type.SHC Unit Number.City.State.Business Interruption: CAUSE.Business Interruption: COMMENTS.Current Status.Business Interruption: TYPE.Damage Assessment


# url.host, https://host2.xchangecore.leidos.com/uicds/core/ws/services
url.host, http://localhost/xchangecore
url.username, username
url.password, password
url.redirectUrl, http://www.saberspace.org/status-map.html
