# configuration file for Sears
# format: field, csv_field_name

latitude, Latitude
longitude, Longitude
filter, Current Status
filter.text, Closed
#filter.text, Open

# distance for the bounding box
distance, 64
# the matched text matched and within the distance specified
distance.filter.text, Open

index, SHC Unit Number
title, City
title.prefix, Sears

# the column will be used as category
category, Current Status
# the value of 'category.prefix' will be placed in front of category if specified
category.prefix, Sears
# category.fixed will override the category with the value specified
# commented out the following line to disable the fixed value
category.fixed, Sears-Open

description, SHC Unit Number.City.State.Damage or Closing Type.Comments.Prior Period Status.Current Status
# url.host, https://host2.xchangecore.leidos.com/uicds/core/ws/services
url.host, http://localhost/uicds
url.username, sears
url.password, 6v1pcykg
url.redirectUrl, http://www.saberspace.org/status-map.html
