# configuration file for Target
# format: field, csv_field_name
latitude, latitude
longitude, longitude
filter, Operation Status
#filter.text, open
filter.text, !Open 
# filter.text, unknown

# distance for the bounding box
# distance, 64
# the matched text matched and within the distance specified
# distance.filter.text, Open

index, location Name.city.state.zip.latitude.longitude
title, Location Name
title.prefix, Target-

# the column will be used as category
category, Operation Status
# the value of 'category.prefix' will be placed in front of category if specified
category.prefix, Target-
# category.fixed will override the category with the value specified
# commented out the following line to disable the fixed value
#category.fixed, Target-Closed

description, Location Name.Operation Status.Address.City.State.Zip.Latitude.Longitude

url.host, http://localhost/xchangecore
url.username, username
url.password, password
url.redirectUrl, http://www.saberspace.org/status-map.html
