# configuration file for Walmart

# format: field, csv_field_name


latitude, Latitude

longitude, Longitude

filter, Status

filter.text, !Open 

#filter.text, Open



# distance for the bounding box in km
distance, 16

# the matched text matched and within the distance specified

distance.filter.text, Open


index, title
title, city
title.prefix, Walmart


auto.close, false

# the column will be used as category

category, Status

# the value of 'category.prefix' will be placed in front of category if specified

category.prefix, Walmart-

# category.fixed will override the category with the value specified

# commented out the following line to disable the fixed value

# category.fixed, Walmart-Open



description,  title.description.Status.address.City.State.Zip.phone.Longitude.Latitude

# url.host, https://host2.xchangecore.leidos.com/uicds/core/ws/services
url.host, http://localhost/xchangecore
url.username, username
url.password, password
url.redirectUrl, http://www.saberspace.org/status-map.html
