# format: field, csv_field_name
latitude, Latitude
longitude, Longitude
filter, Status
filter.text, Closed
index, Region.District.Location.City.State.Zip Code
title, Location Desc
# title.prefix, LOWES-DDH
category, Region.District
description, Location Desc.City.State.Zip Code
# auto.close, true
url.host, http://localhost/xchangecore
url.username, admin
url.password, SApass.1549
url.redirectUrl, http://www.saberspace.org/status-map.html
