# configuration file for PG&E Distribution Line
# format: field, csv_field_name

latitude, Latitude
longitude, Longitude
filter, Description
filter.text,  DO NOT

# distance for the bounding box
distance, 64
# the matched text matched and within the distance specified
distance.filter.text, Open

index, Title.IncidentType.Latitude.Longitude
title, IncidentType
title.prefix, PG&E

# the column will be used as category
category, IncidentType
# the value of 'category.prefix' will be placed in front of category if specified
category.prefix, PGNE
# category.fixed will override the category with the value specified
# commented out the following line to disable the fixed value
category.fixed, PGNE - Open

description, Title.IncidentType.Description.Latitude.Longitude.Date.Time
url.host, http://localhost/uicds
url.username, username
url.password, password
url.redirectUrl, http://www.saberspace.org
