# configuration file for Target
# format: field, csv_field_name
latitude, latitude
longitude, longitude
filter, Open/Closed
#filter.text, open
filter.text, Closed
# filter.text, unknown

# distance for the bounding box
distance, 64
# the matched text matched and within the distance specified
distance.filter.text, Open

index, location #.city.state.zip.latitude.longitude
title, location #
title.prefix, Target

# the column will be used as category
category, Open/Closed
# the value of 'category.prefix' will be placed in front of category if specified
category.prefix, Target
# category.fixed will override the category with the value specified
# commented out the following line to disable the fixed value
category.fixed, Target-Closed

description, Open/Closed.Power Outage Status.Facility Damage.Address.City.State.Zip.location #
url.host, http://localhost/uicds
url.username, username
url.password, password
url.redirectUrl, http://www.saberspace.org/status-map.html
