# configuration file for Walgreen
# format: field, csv_field_name
latitude, latitude
longitude, longitude
filter, Store/Site Status
# filter.text, Unknown
filter.text, CLOSED

# distance for the bounding box
distance, 64
# the matched text matched and within the distance specified
distance.filter.text, Open

index, store_nbr.city.state_abbv.zip_code_5.latitude.longitude
title, store_nbr
title.prefix, Walgreens

# the column will be used as category
category, store_type
# the value of 'category.prefix' will be placed in front of category if specified
category.prefix, Walgreens
# category.fixed will override the category with the value specified
# commented out the following line to disable the fixed value
category.fixed, Walgreens-Closed

description, Store/Site Status.ADDRESS_LINE_1.ADDRESS_LINE_2.CITY.STATE_ABBV.ZIP_CODE_5.COUNTY.STORE_TYPE_DESC.RETAIL_CLINIC_IND.OPEN_24_HOURS.STORE_NBR.NCPDP_PROVIDER_ID.DISTRICT_NBR.REGION_NBR
url.host, http://localhost/uicds
url.username, walgreens
url.password, ct29ypjh
url.redirectUrl, http://www.saberspace.org/status-map.html
